* {
  box-sizing: border-box;
  font-family: "Poppins", "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
   /* background-color: tan; */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 30px 25px;
  background-color: white;
}

.nav--icon {
  height: 80px;
  margin-left: initial;
  margin-right: auto;
}

.nav--menu-bar {
  display: flex;
  list-style-type: none;
  column-gap: 30px;
}

.nav--burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.nav--burger-line {
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: black;
}

.nav--burger-menu-dropdown {
  display: none;
  flex-direction: column;
  
}

.nav-dropdown {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0;
}

.nav--item, .nav-dropdown--item {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.separator {
  width: calc(100% - 40px);
  height: 1px;
  background-color: #000;
  margin: 10px 0; 
}

.separator--top {
  margin-top: 0px;
}


/* Small Screen */
@media (max-width: 1130px) {
  .nav {
    position: relative;
  }
  
  .nav--icon {
    margin-left: auto;
  }

  .nav--menu-bar {
    display: none;
  }

  .nav--burger-menu {
    display: flex;
    position: absolute;
    right: 20px;
  }
}

/* Wide screen */
@media (min-width: 1131px) {
  .nav {
    position: initial;
  }

  .nav--icon {
    margin-left: initial;
  }
  
  .nav--menu-bar {
    display: flex;
  }

  .nav--burger-menu{
    display: none;
    position: initial;
    right: 0px;
  }
}

.main {
  background-image: url('/assets/povall_excavator.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  position: relative;
}

.main .hero-text {
  /* FIXXXXX */
  display: none;
  margin: 0;
  font-size: 2rem;
  max-width: 50%;
}
.main .hero-contact-us {
  /* display: inline; */
  /* margin: auto; */
  font-size: 3rem;
  padding: 10px 50px 10px 30px;
  /* background-color: rgba(0,0,0, 0.4); */
  color: white;
  bottom: 5%;
  position: absolute;
  background-color: rgba(108, 123, 139, 0.8);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: 900;
  text-shadow: 1px 0 white;
  letter-spacing:1px;
}

/* Small Screen */
@media (max-width: 1130px) { 
  .main {
    height: 50vh;
  }
  .main .hero-contact-us { 
    font-size: 24px;
    text-shadow: initial;

  }
}

/* Wide screen */
 @media (min-width: 1131px) {
  .main {
    height: 90vh;
  }
  .main .hero-contact-us { 
    font-size: 3rem;
    text-shadow: 1px 0 white;
  }
 }

.service-section {
  background-color: #001F3F;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 40px 0px;
  gap: 20px;
}

.service-section:nth-of-type(odd) {
  flex-direction: row-reverse;
  background-color: #f2f2f2;
}

.service-section:nth-of-type(odd) .service-section--description-container {
  color: #001F3F;
  background-color: #f2f2f2;
}

.service-section--description-text > h2 {
  font-size: 2em;
  text-align: center;
  margin-top: 0px;
  text-transform: uppercase;
}

.service-section--description-container {
  align-self: flex-start;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  /* warm gray */
  background-color: #001F3F; 
  /* charcoal yellow */
  /* background-color: #7D795D; */
  /* Slate gray */
  /* background-color: #6C7B8B; */
  /* width: 40%;
  min-width: 300px; */
}

.service-section--description-text {
  margin: 0px auto;
}

.service-section--bullet {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px 0px; /* Extra space between bullets */
}

.service-section--description-container .material-symbols-outlined {
  align-self: normal;
}

.card-container {
  position: relative;
  min-width: 300px;
  margin: 30px 0px;
}

.card-arrow-left {
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: 50%;
  left: 15px;
  cursor: pointer;
  background-image: url('/assets/Arrow2left.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  border-width: 0px;
}

.card-arrow-right {
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: 50%;
  right: 15px;
  cursor: pointer;
  background-image: url('/assets/Arrow2right.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  border-width: 0px;
}

.card-container .card {
  position: relative;
  justify-self: center;
  display: none;
}

.card-container .card.visible {
  display: flex;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.card-container .card .card--image{
  /* object-fit: cover; */
  max-height: 600px;
}

.card-container .card .card--title{
  background-color: rgba(100, 100, 100, 0.8);
  position: absolute;
  text-align: center;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 25px;
}

/* The dots/bullets/indicators */
.dot-container {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 3px;
  background-color: #CCC;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #333;
  height: 15px;
  width: 15px;
}


/* Small Screen */
@media (max-width: 1130px) {
  .service-section {
    gap: 0px;
  }

  .card-container {
    max-width: calc(100% - 40px);
  }

  .card--image {
    max-width: calc(100%);
  }
}

/* Wide screen */
@media (min-width: 1131px) {
  .service-section {
    gap: initial;
  }

  .card-container {
    max-width: initial;
  }

  .card--image {
    max-width: initial;
  }
}


/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
} */


.footer {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contact-grid {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

.footer-icon {
  width: 22px;
  height: 22px;
  margin: 1px;
}

.footer-heading {
  font-weight: bold;
  font-size: 2rem;
  margin: 20px 0px;
}

.footer--contact {
  margin: 40px 0px;
}

.footer-content {
  color: inherit;
  text-decoration: none;
}

.footer-content-number {
  padding-bottom: 6px;
}

.footer--copyright {
  justify-self: center;
  align-self:flex-start;
  font-size: smaller;
  margin-left: 10px;
}